<h1 id="welcome-title">Welcome to Fothu.Zone!</h1>
<br />
<br />
<br />
<br />
<h4>Current Apps:</h4>

<button type="button" class="list-group-item nav-link btn-lg w-50 bg-primary-fothu text-white" *ngIf="this.userService.currentUser.id != -1" routerLink="/FothuPets">Fothu Pets</button>
<button type="button" class="list-group-item nav-link btn-lg w-50 bg-primary-fothu text-white" *ngIf="this.userService.currentUser.id == -1" routerLink="/login">Login To Fothu Pets</button>
<button type="button" class="list-group-item nav-link btn-lg w-50 bg-warning" routerLink="/schola">The Schola Rehearsal, By Matthew Gworek</button>
<button type="button" class="list-group-item nav-link btn-lg w-50 bg-danger-fothu" routerLink="/rosary">The Catholic Rosary</button>
<!-- <a class="btn-lg w-50 btn-dark text-center" href="https://fothuzone-rosary.s3.amazonaws.com/cp3u.pdf" role="button">Hymnal</a> -->
