<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand nav-link btn-dark" [routerLink]="[{ outlets: { primary: 'home', petbar: null, battles: null, levelUps: null } }]"><img src="../assets/Pengo28.png" alt="Pengo Image" /> Fothu.Zone</a>
		<button class="navbar-toggler" (click)="this.toggleNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" id="navbarSupportedContent">
			<div class="nav-item">
				<button class="btn bg-dark btn-outline-light m-1" *ngIf="this.userService.currentUser.id" [routerLink]="[{ outlets: { primary: 'FothuPets', petbar: 'available', battles: 'available', levelUps: 'possible' } }]"><span class="text-light">FothuPets</span></button>
			</div>
			<div class="nav-item d-flex">
				<div ngbDropdown class="d-inline-block">
					<button class="btn bg-dark btn-outline-light m-1" id="dropdownBasic1" ngbDropdownToggle><span class="text-light">Religious</span></button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<button class="btn-dark" ngbDropdownItem [routerLink]="[{ outlets: { primary: 'schola', petbar: null, battles: null, levelUps: null } }]">The Schola Rehearsal</button>
						<button class="btn-dark" ngbDropdownItem [routerLink]="[{ outlets: { primary: 'rosary', petbar: null, battles: null, levelUps: null } }]">Rosary</button>
					</div>
				</div>
			</div>
			<div class="d-flex ml-auto nav-item">
				<div id="welcomeName" class="text-light mx-2 my-auto d-none d-md-block" *ngIf="this.userService.currentUser.id">Hello {{ userService.currentUser.username }}</div>
				<button class="nav-item btn bg-dark btn-outline-light m-1" [routerLink]="[{ outlets: { primary: 'profile', petbar: null, battles: null, levelUps: 'possible' } }]" *ngIf="this.userService.currentUser.id">Profile</button>
				<button class="nav-item btn bg-dark btn-outline-light m-1" (click)="this.userService.logout()" *ngIf="this.userService.currentUser.id">Logout</button>
				<button class="nav-item btn bg-dark btn-outline-light m-1" [routerLink]="['', { outlets: { primary: 'login', petbar: null, battles: null, levelUps: null } }]" *ngIf="!this.userService.currentUser.id">Login To Pets</button>
			</div>
		</div>
	</div>
</nav>
