<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand nav-link" [routerLink]="[{outlets: {primary: 'home', petbar: null, battles: null, levelUps: null }}]"><img src="../assets/Pengo28.png" alt="Pengo Image">Fothu.Zone</a>
    <button class="nav-item btn bg-primary btn-outline-dark petsButton" *ngIf="this.userService.currentUser.id != -1" [routerLink]="[{outlets: {primary: 'FothuPets', petbar: 'available', battles: 'available', levelUps: 'possible'}}]"><span class="text-light">FothuPets</span></button>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-dark bg-danger" id="dropdownBasic1" ngbDropdownToggle><span class="text-light">Religious</span></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="btn-dark" ngbDropdownItem [routerLink]="[{outlets: {primary: 'schola', petbar: null, battles: null, levelUps: null }}]">The Schola Rehearsal</button>
            <button class="btn-dark" ngbDropdownItem [routerLink]="[{outlets: {primary: 'rosary', petbar: null, battles: null, levelUps: null }}]">Rosary</button>
        </div>
        <!-- <button class="btn btn-outline-light nav-link" routerLink="playground">Playground</button> -->
        <!-- the '' keeps you on the same primary route (what a nightmare) -->
    </div>
    <div class="btn-block">
        <button class="nav-item btn bg-dark btn-outline-light float-right" (click)="this.userService.logout()" *ngIf="this.userService.currentUser.id !== -1">Logout of Pets</button>
        <button class="nav-item btn bg-dark btn-outline-light float-right" [routerLink]="[{outlets: {primary: 'login', petbar: null, battles: null, levelUps: null }}]" *ngIf="this.userService.currentUser.id == -1">Login To Pets</button>
        <button class="nav-item btn bg-dark btn-outline-light float-right mr-1" routerLink="[{outlets: {primary: 'profile', petbar: null, battles: null, levelUps: 'possible' }}]" *ngIf="this.userService.currentUser.id !== -1">Profile</button>
        <div id="welcomeName" class="text-light float-right mt-2" *ngIf="this.userService.currentUser.id !== -1">Hello {{userService.currentUser.username}}</div>
    </div>
</nav>