<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand nav-link" routerLink="directory">Fothu.Zone</a>
    <button class="btn btn-outline-warning nav-link" routerLink="schola">The Schola Rehearsal</button>
    <!--<button class="btn btn-outline-success nav-link" routerLink="petSelection">Pets</button>-->
    <button class="btn btn-outline-danger nav-link" routerLink="rosary">Rosary</button>
    <!-- <button class="btn btn-outline-light nav-link" routerLink="playground">Playground</button> -->
</div>