<table style="margin-left:70px;margin-top:50px">
    <tr *ngFor="let val1 of [].constructor(10); let i = index;">
        <td *ngFor="let val2 of [].constructor(10); let j = index"
            [id]="i * 10 + j"
            [ngClass]="{barren: !nonBarrenCells.includes(i * 10 + j),
                activeRoom: truthArray[i * 10 + j], notExplored: notExploredArray[i * 10 + j],
                start: (i * 10 + j === startingRoom) ? truthArray[i * 10 + j] : false,
                boss: (i * 10 + j === bossRoom) ? truthArray[i * 10 + j] : false}">
            <a *ngIf="nonBarrenCells.includes(i * 10 + j) && checkIfNearby(i * 10 + j)"
                [ngClass]="{'btn btn-success font-weight-bold':true}"
                (click)="setCurrentRoom(i * 10 + j)">Move</a>
        </td>
    </tr>
</table>
