table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 55px;
    width: 72px;
}

.barren {
    background-color: gray;
}

.notExplored {
    background-color: gray;
}

.activeRoom {
    background-color: gold;
}

.boss {
    background-color: darkred !important;
}

.start {
    background-color: dodgerblue !important;
}

.ladder {
    background-color: sienna !important;
}

.nearby {
    background-color: palegreen !important;
}

.inactive-button {
    background-color: gainsboro !important;
    color: black !important;
    border-color: black !important;
    pointer-events: none !important;
}