<div class="container petbar float-right d-none d-lg-block d-xl-block d-xxl-block align-items-center" [ngStyle]="{'width.px': userService.currentUser.pets.length * 145}">
    <div class="row justify-content-end align-items-center">
        <div *ngFor="let pet of userService.currentUser.pets;let numberOfindex=index">
            <div class="col-xl-12 col-md-4 col-sm-6 bg-secondary border-top border-bottom border-left border-dark pt-1" style="height:145px;width:145px;">
                <div style="height:110px;width:110px;background-color:white;" [ngClass]="[userService.currentUser.favoriteColor, 'petcenter']">
                    <a href="javascript:void(0)" (click)="this.goToProfile()"><img *ngIf="pet.image" style="max-height:100px;max-width:100px;" [src]="pet.image.imageURL" [alt]="pet.name"></a>

                </div>

                <div class="progress border border-dark wrapper" style="width:110px;height:25px;text-align:center">
                    <div [class]="userService.getHealthBarColor(((pet.currentHealth/pet.maxHealth)*100).toFixed(0))" [ngStyle]="{'width':((pet.currentHealth/pet.maxHealth)*100).toFixed(0)+'%','font-size':'small','color':'black','height':'25px'}"></div>
                    <div class="data">{{pet.currentHealth}}/{{pet.maxHealth}} HP</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- class="petcenter" style="height:105px;width:105px;" -->