<div class="container petbar float-right d-none d-lg-block d-xl-block d-xxl-block align-items-center" [ngStyle]="{ 'width.px': userService.currentUser.pets.length * 145 }">
	<div class="row justify-content-end align-items-center">
		<div *ngFor="let pet of userService.currentUser.pets; let numberOfindex = index">
			<div class="col-xl-12 border-top border-bottom border-left border-dark pt-1 petbar-background">
				<div [ngClass]="[userService.currentUser.favoriteColor, 'petcenter', 'petbar-image-background']">
					<a class="petbar-image" href="javascript:void(0)" (click)="this.goToProfile()"><img class="petbar-image" *ngIf="pet.image" [src]="pet.image.imageURL" [alt]="pet.name" /></a>
				</div>

				<div class="progress border border-dark wrapper petbar-health-bar">
					<div [class]="userService.getHealthBarColor(((pet.currentHealth / pet.maxHealth) * 100).toFixed(0))" [ngStyle]="{ width: ((pet.currentHealth / pet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'small', color: 'black', height: '25px' }"></div>
					<div class="data">{{ pet.currentHealth }}/{{ pet.maxHealth }} HP</div>
				</div>
			</div>
		</div>
	</div>
</div>
