<h3>Challenge Another Player</h3>
<br />
<br />
<form class="w-50">
	<div class="form-group">
		<div><label>Choose A Challenger</label></div>
		<div><input type="text" placeholder="Search.." [(ngModel)]="this.filterString" (keyup)="this.filterUserList()" name="userSearch" /></div>
		<br />
		<br />
		<select id="userSelect" class="form-control" [(ngModel)]="this.challengeUserId" (change)="this.getPetsForChallenger(this.challengeUserId)" name="userId">
			<option value="0" selected disabled hidden>Challengers</option>
			<option *ngFor="let user of this.filterArray" [value]="user.id">
				<div *ngIf="user.id">{{ user.username }}</div>
			</option>
			<option *ngIf="this.filterArray.length == 0" class="text-danger" disabled>No matching users</option>
		</select>
	</div>

	<button class="btn btn-primary-fothu" [disabled]="!challengeUserId || this.challengerPets.length == 0" (click)="this.createNewChallengeRequest()">Submit</button>
</form>
<br />
<h4 *ngIf="this.challengeUserId && this.challengerPets.length == 0">{{ this.challengerUser.username }} has no pets!</h4>
<div *ngIf="this.challengeUserId">
	<h4 *ngIf="this.challengerPets.length" class="text-left">{{ this.challengerUser.username }}'s Pets:</h4>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4" *ngFor="let pet of this.challengerPets">
				<div [ngClass]="['black', 'petcenter', 'medium-pet-background']">
					<img *ngIf="pet.image" class="medium-pet-image" [src]="pet.image.imageURL" [alt]="pet.name" />
				</div>
				<!-- <div class="progress border border-dark wrapper medium-pet-health-bar">
					<div [class]="userService.getHealthBarColor(((pet.currentHealth / pet.maxHealth) * 100).toFixed(0))" [ngStyle]="{ width: ((pet.currentHealth / pet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'large', color: 'black', height: '25px' }"></div>
					<div class="data">{{ pet.currentHealth }}/{{ pet.maxHealth }} HP</div>
				</div> -->
				<h6 class="text-center medium-pet-image">Lvl {{ pet.petLevel }} {{ pet.name }}</h6>
				<br />
			</div>
		</div>
	</div>
</div>
