<app-pets></app-pets>
<div [ngStyle]="{'padding-right': 0, 'padding-left':0}" class="container-fluid no-gutters h-100">
    <div class="row h-100 align-items-start no-gutters father">
        <div [ngStyle]="{'right': 0}" class="d-none d-lg-block col-lg-2 m-0 p-0 order-2 h-100 mh-100 son">aside
        </div>
        <div class="col-12 col-lg-10 no-gutters m-0 p-0 align-self-start pets-content">
            <div class="row h-100 align-items-start no-gutters">
                <div class="col-12 no-gutters m-0 p-0 align-self-start pets-content">
                    title
                </div>
                <div class="col-12 no-gutters m-0 p-0 align-self-start pets-content">
                    <a class="btn btn-primary" routerLink="../new">go to new</a> content more cmore content more content more content more content more content more content more content more content more content more content more content more content
                    more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content
                    more content more content more content more content more content more content more content more content more content more content more content more content more content more content ontent more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content
                </div>
                <div class="col-12 no-gutters m-0 p-0 align-self-start pets-content">
                    more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content
                </div>
                <div class="col-12 no-gutters m-0 p-0 align-self-start pets-content">
                    more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content
                </div>
                <div class="col-12 no-gutters m-0 p-0 align-self-start pets-content">
                    more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more
                    content more content
                </div>
            </div>
        </div>
    </div>
</div>