html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* needed for container min-height */
}

span {
	display: inline;
}

.loading {
	left: 50%;
	position: absolute;
	height: 5%;
}

.battle-loading {
	height: 20%;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.inactive-button {
	background-color: gainsboro !important;
	color: black !important;
	border-color: black !important;
	pointer-events: none !important;
}

#welcomeName {
	margin-right: 40px;
}

#welcome-title {
	margin-top: 50px;
}

.login {
	margin-left: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.overflow-current-battles {
	display: block;
	max-height: 250px;
	height: 250px;
	overflow: auto;
}

.overflow-battle-requests {
	display: block;
	max-height: 280px;
	height: 280px;
	overflow: auto;
}

/* CYOA */
.indent {
	text-indent: 40px;
}

.title {
	text-align: center;
}

.author {
	text-align: center;
}

.pageNumber {
	text-align: left;
	margin-left: 30pt;
}

.story-button {
	margin-top: 50px;
}

/* Rosary */

#rosary {
	min-height: 450px;
}

/* FothuPets Colors */

.blue {
	border-style: solid;
	border-color: blue;
	border-radius: 10px;
	border-width: thick;
}

.red {
	border-style: solid;
	border-color: red;
	border-radius: 10px;
	border-width: thick;
}

.yellow {
	border-style: solid;
	border-color: yellow;
	border-radius: 10px;
	border-width: thick;
}

.green {
	border-style: solid;
	border-color: green;
	border-radius: 10px;
	border-width: thick;
}

.purple {
	border-style: solid;
	border-color: purple;
	border-radius: 10px;
	border-width: thick;
}

.orange {
	border-style: solid;
	border-color: orange;
	border-radius: 10px;
	border-width: thick;
}

.black {
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	border-width: thick;
}

.dark-red {
	border-style: solid;
	border-color: darkred;
	border-radius: 10px;
	border-width: thick;
}

.brown {
	border-style: solid;
	border-color: brown;
	border-radius: 10px;
	border-width: thick;
}

.lime {
	border-style: solid;
	border-color: lime;
	border-radius: 10px;
	border-width: thick;
}

.indigo {
	border-style: solid;
	border-color: indigo;
	border-radius: 10px;
	border-width: thick;
}

.cyan {
	border-style: solid;
	border-color: cyan;
	border-radius: 10px;
	border-width: thick;
}

.gold {
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	border-width: thick;
}

.olive {
	border-style: solid;
	border-color: olive;
	border-radius: 10px;
	border-width: thick;
}

.tan {
	border-style: solid;
	border-color: tan;
	border-radius: 10px;
	border-width: thick;
}

.teal {
	border-style: solid;
	border-color: teal;
	border-radius: 10px;
	border-width: thick;
}

.navy {
	border-style: solid;
	border-color: navy;
	border-radius: 10px;
	border-width: thick;
}

.coral {
	border-style: solid;
	border-color: coral;
	border-radius: 10px;
	border-width: thick;
}

.chartreuse {
	border-style: solid;
	border-color: chartreuse;
	border-radius: 10px;
	border-width: thick;
}

.turquoise {
	border-style: solid;
	border-color: turquoise;
	border-radius: 10px;
	border-width: thick;
}

.orchid {
	border-style: solid;
	border-color: orchid;
	border-radius: 10px;
	border-width: thick;
}

.goldenrod {
	border-style: solid;
	border-color: goldenrod;
	border-radius: 10px;
	border-width: thick;
}

.royalblue {
	border-style: solid;
	border-color: royalblue;
	border-radius: 10px;
	border-width: thick;
}

.black-glow {
	box-shadow: 0px 0px 30px black;
}

.red-glow {
	box-shadow: 0px 0px 30px red;
}

.green-glow {
	box-shadow: 0px 0px 30px green;
}

.blue-glow {
	box-shadow: 0px 0px 30px blue;
}

.white-glow {
	box-shadow: 0px 0px 30px white;
}

.wrapper {
	position: relative;
}

.data {
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 170%;
}

.big-data {
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 190%;
}

.father {
	position: relative;
}

.son {
	position: absolute;
	top: 0;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.big-pet-background {
	height: 310px;
	width: 310px;
	background-color: white;
	border-radius: 10px;
}

.big-pet-image {
	max-height: 300px;
	max-width: 300px;
	border-radius: 10px;
}

.big-pet-health-bar {
	width: 310px;
	height: 25px;
}

.big-pet-battle-health-bar {
	width: 310px;
	height: 50px;
}

.medium-pet-background {
	height: 210px;
	width: 210px;
	background-color: white;
	border-radius: 10px;
}

.medium-pet-image {
	max-height: 200px;
	max-width: 200px;
	border-radius: 10px;
}

.medium-pet-health-bar {
	width: 210px;
	height: 25px;
}

.medium-pet-battle-health-bar {
	width: 210px;
	height: 50px;
}

.petbar-image-background {
	height: 110px;
	width: 110px;
	background-color: white;
	border-radius: 10px;
}

.petbar-image {
	max-height: 100px;
	max-width: 100px;
	border-radius: 10px;
}

.petbar-health-bar {
	width: 110px;
	height: 25px;
	text-align: center;
}

.petcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.boxcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.petbar {
	position: fixed;
	bottom: 0;
	right: 0;
}

.petbar-background {
	height: 145px;
	width: 145px;
	background-color: #72777d;
}

/* .overlay {
	top: 0%;
	min-width: 100%;
	border-width: 10px !important;
	height: 100%;
} */

.overlay-backdrop {
	background-color: #1f2833;
}

.battle-background {
	background-color: lime;
	border-color: darkgreen !important;
}

.level-up-background {
	border-color: red !important;
}

.battle-box {
	min-height: 50%;
}

.battle-pets {
	margin: auto;
	display: block;
	text-align: center;
	width: auto;
	height: auto;
}

.profile-pets {
	display: block;
	text-align: center;
	width: auto;
	height: auto;
}

/* Dungeon CSS */

.mapTable,
.mapTd {
	border: 1px solid black;
	border-collapse: collapse;
}

@media (min-width: 0px) {
	.mapTd {
		height: 37px;
		width: 65px;
		text-align: center;
	}
}

@media (min-width: 960px) {
	.mapTd {
		height: 45px;
		width: 75px;
		text-align: center;
	}
}

.mapPositioning {
	margin-left: 70px;
	margin-top: 50px;
	margin-right: 70px;
	margin-bottom: 50px;
}

.barren {
	background-color: #504f54;
}

.notExplored {
	background-color: #504f54;
}

.activeRoom {
	background-color: #efc501;
}

.boss {
	background-color: #cd1913 !important;
}

.start {
	background-color: #000080 !important;
}

.ladder {
	background-color: #98720b !important;
}

.nearby {
	background-color: #c5c6c7 !important;
}

/* Bootstrap */

/* .container {
	border-style: solid;
	border-color: blue;
}

.row {
	border-style: solid;
	border-color: red;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
	border-style: solid;
	border-color: black;
} */

@media (min-width: 0px) {
	/* .btn {
		font-size: 11px;
		padding: 4px 6px;
	} */
	.overlay {
		top: 6.5%;
		min-width: 100%;
		border-width: 10px !important;
		height: 200%;
	}
}

@media (min-width: 540px) {
	/* .btn {
		font-size: 11px;
		padding: 4px 6px;
	} */
	.overlay {
		top: 5.3%;
		min-width: 100%;
		border-width: 10px !important;
		height: 129%;
	}
}

@media (min-width: 720px) {
	/* .btn {
		font-size: 12px;
		padding: 6px 12px;
	} */
	.overlay {
		top: 5.7%;
		min-width: 100%;
		border-width: 10px !important;
		height: 94.3%;
	}
}

@media (min-width: 960px) {
	/* .btn {
		font-size: 14px;
		padding: 8px 12px;
	} */
	.overlay {
		top: 4.8%;
		min-width: 100%;
		border-width: 10px !important;
		height: 95.2%;
	}
}

@media (min-width: 1140px) {
	/* .btn {
		padding: 10px 16px;
		font-size: 18px;
	} */

	.overlay {
		top: 6%;
		min-width: 100%;
		border-width: 10px !important;
		height: 92.7%;
	}
}
