html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* needed for container min-height */
}

span {
	display: inline;
}

.loading {
	left: 50%;
	position: absolute;
	height: 5%;
}

.inactive-button {
	background-color: gainsboro !important;
	color: black !important;
	border-color: black !important;
	pointer-events: none !important;
}

#welcomeName {
	margin-right: 40px;
}

#welcome-title {
	margin-top: 50px;
}

.login {
	margin-left: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.overflow-current-battles {
	display: block;
	max-height: 250px;
	height: 250px;
	overflow: auto;
}

.overflow-battle-requests {
	display: block;
	max-height: 378px;
	height: 378px;
	overflow: auto;
}

/* CYOA */
.indent {
	text-indent: 40px;
}

.title {
	text-align: center;
}

.author {
	text-align: center;
}

.pageNumber {
	text-align: left;
	margin-left: 30pt;
}

.story-button {
	margin-top: 50px;
}

/* Rosary */

#rosary {
	min-height: 450px;
}

/* FothuPets */

.blue {
	border-style: solid;
	border-color: blue;
	border-radius: 10px;
}

.red {
	border-style: solid;
	border-color: red;
	border-radius: 10px;
}

.yellow {
	border-style: solid;
	border-color: yellow;
	border-radius: 10px;
}

.green {
	border-style: solid;
	border-color: green;
	border-radius: 10px;
}

.purple {
	border-style: solid;
	border-color: purple;
	border-radius: 10px;
}

.orange {
	border-style: solid;
	border-color: orange;
	border-radius: 10px;
}

.black {
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

.dark-red {
	border-style: solid;
	border-color: darkred;
	border-radius: 10px;
}

.wrapper {
	position: relative;
}

.data {
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 170%;
}

.father {
	position: relative;
}

.son {
	position: absolute;
	top: 0;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.big-pet-background {
	height: 310px;
	width: 310px;
	background-color: white;
}

.big-pet-image {
	max-height: 300px;
	max-width: 300px;
}

.big-pet-health-bar {
	width: 310px;
	height: 25px;
}

.medium-pet-background {
	height: 210px;
	width: 210px;
	background-color: white;
}

.medium-pet-image {
	max-height: 200px;
	max-width: 200px;
}

.medium-pet-health-bar {
	width: 210px;
	height: 25px;
}

.petbar-image-background {
	height: 110px;
	width: 110px;
	background-color: white;
}

.petbar-image {
	max-height: 100px;
	max-width: 100px;
}

.petbar-health-bar {
	width: 110px;
	height: 25px;
	text-align: center;
}

.petcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.petbar {
	position: fixed;
	bottom: 0;
	right: 0;
}

.petbar-background {
	height: 145px;
	width: 145px;
	background-color: dimgray;
}

.overlay {
	top: 6%;
	bottom: 20%;
	min-width: 100%;
	border-width: 10px !important;
}

.battle-background {
	background-color: lime;
	border-color: darkgreen !important;
}

.level-up-background {
	border-color: red !important;
}

.battle-box {
	min-height: 50%;
}

/* Dungeon CSS */

.mapTable,
.mapTd {
	border: 1px solid black;
	border-collapse: collapse;
}

.mapTd {
	height: 55px;
	width: 72px;
}

.mapPositioning {
	margin-left: 70px;
	margin-top: 50px;
	margin-right: 70px;
	margin-bottom: 50px;
}

.barren {
	background-color: dimgray;
}

.notExplored {
	background-color: dimgray;
}

.activeRoom {
	background-color: #f0ad4e;
}

.boss {
	background-color: #cd1913 !important;
}

.start {
	background-color: #2c87c9 !important;
}

.ladder {
	background-color: #e09f3e !important;
}

.nearby {
	background-color: #99aa38 !important;
}

/* Bootstrap */

/* .container {
	border-style: solid;
	border-color: blue;
}

.row {
	border-style: solid;
	border-color: red;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
	border-style: solid;
	border-color: black;
} */

@media (max-width: 768px) {
	.btn {
		font-size: 11px;
		padding: 4px 6px;
	}
}

@media (min-width: 768px) {
	.btn {
		font-size: 12px;
		padding: 6px 12px;
	}
}

@media (min-width: 992px) {
	.btn {
		font-size: 14px;
		padding: 8px 12px;
	}
}

@media (min-width: 1200px) {
	.btn {
		padding: 10px 16px;
		font-size: 18px;
	}
}

/* CUTSOM FOTHU ZONE BOOTSTRAP COLORS */

/*------------------------------------
- COLOR primary-fothu-fothu
------------------------------------*/
.alert-primary-fothu {
	color: #000000;
	background-color: #5eda6e;
	border-color: #4dd75f;
}

.alert-primary-fothu hr {
	border-top-color: #38d24c;
}

.alert-primary-fothu .alert-link {
	color: #000000;
}

.badge-primary-fothu {
	color: #fff;
	background-color: #14591d;
}

.badge-primary-fothu[href]:hover,
.badge-primary-fothu[href]:focus {
	color: #fff;
	background-color: #0a2f0f;
}

.bg-primary-fothu {
	background-color: #14591d !important;
}

a.bg-primary-fothu:hover,
a.bg-primary-fothu:focus,
button.bg-primary-fothu:hover,
button.bg-primary-fothu:focus {
	background-color: #0a2f0f !important;
}

.border-primary-fothu {
	border-color: #14591d !important;
}

.btn-primary-fothu {
	color: #fff;
	background-color: #14591d;
	border-color: #14591d;
}

.btn-primary-fothu:hover {
	color: #fff;
	background-color: #0d3b13;
	border-color: #0a2f0f;
}

.btn-primary-fothu:focus,
.btn-primary-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(20, 89, 29, 0.5);
}

.btn-primary-fothu.disabled,
.btn-primary-fothu:disabled {
	color: #fff;
	background-color: #14591d;
	border-color: #14591d;
}

.btn-primary-fothu:not(:disabled):not(.disabled):active,
.btn-primary-fothu:not(:disabled):not(.disabled).active,
.show > .btn-primary-fothu.dropdown-toggle {
	color: #fff;
	background-color: #0a2f0f;
	border-color: #07220b;
}

.btn-primary-fothu:not(:disabled):not(.disabled):active:focus,
.btn-primary-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(20, 89, 29, 0.5);
}

.btn-outline-primary-fothu {
	color: #14591d;
	background-color: transparent;
	border-color: #14591d;
}

.btn-outline-primary-fothu:hover {
	color: #fff;
	background-color: #14591d;
	border-color: #14591d;
}

.btn-outline-primary-fothu:focus,
.btn-outline-primary-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(20, 89, 29, 0.5);
}

.btn-outline-primary-fothu.disabled,
.btn-outline-primary-fothu:disabled {
	color: #14591d;
	background-color: transparent;
}

.btn-outline-primary-fothu:not(:disabled):not(.disabled):active,
.btn-outline-primary-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary-fothu.dropdown-toggle {
	color: #fff;
	background-color: #14591d;
	border-color: #14591d;
}

.btn-outline-primary-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(20, 89, 29, 0.5);
}

.list-group-item-primary-fothu {
	color: #000000;
	background-color: #4dd75f;
}

.list-group-item-primary-fothu.list-group-item-action:hover,
.list-group-item-primary-fothu.list-group-item-action:focus {
	color: #000000;
	background-color: #38d24c;
}

.list-group-item-primary-fothu.list-group-item-action.active {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
}

.table-primary-fothu,
.table-primary-fothu > th,
.table-primary-fothu > td {
	background-color: #4dd75f;
}

.table-hover .table-primary-fothu:hover {
	background-color: #38d24c;
}

.table-hover .table-primary-fothu:hover > td,
.table-hover .table-primary-fothu:hover > th {
	background-color: #38d24c;
}

.text-primary-fothu {
	color: #14591d !important;
}

a.text-primary-fothu:hover,
a.text-primary-fothu:focus {
	color: #0a2f0f !important;
}

/*------------------------------------
- COLOR dark-fothu
------------------------------------*/
.alert-dark-fothu {
	color: #000000;
	background-color: #39bd56;
	border-color: #34ad4f;
}

.alert-dark-fothu hr {
	border-top-color: #2e9a46;
}

.alert-dark-fothu .alert-link {
	color: #000000;
}

.badge-dark-fothu {
	color: #fff;
	background-color: #0a210f;
}

.badge-dark-fothu[href]:hover,
.badge-dark-fothu[href]:focus {
	color: #fff;
	background-color: #000000;
}

.bg-dark-fothu {
	background-color: #0a210f !important;
}

a.bg-dark-fothu:hover,
a.bg-dark-fothu:focus,
button.bg-dark-fothu:hover,
button.bg-dark-fothu:focus {
	background-color: #000000 !important;
}

.border-dark-fothu {
	border-color: #0a210f !important;
}

.btn-dark-fothu {
	color: #fff;
	background-color: #0a210f;
	border-color: #0a210f;
}

.btn-dark-fothu:hover {
	color: #fff;
	background-color: #010502;
	border-color: #000000;
}

.btn-dark-fothu:focus,
.btn-dark-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 33, 15, 0.5);
}

.btn-dark-fothu.disabled,
.btn-dark-fothu:disabled {
	color: #fff;
	background-color: #0a210f;
	border-color: #0a210f;
}

.btn-dark-fothu:not(:disabled):not(.disabled):active,
.btn-dark-fothu:not(:disabled):not(.disabled).active,
.show > .btn-dark-fothu.dropdown-toggle {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
}

.btn-dark-fothu:not(:disabled):not(.disabled):active:focus,
.btn-dark-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 33, 15, 0.5);
}

.btn-outline-dark-fothu {
	color: #0a210f;
	background-color: transparent;
	border-color: #0a210f;
}

.btn-outline-dark-fothu:hover {
	color: #fff;
	background-color: #0a210f;
	border-color: #0a210f;
}

.btn-outline-dark-fothu:focus,
.btn-outline-dark-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 33, 15, 0.5);
}

.btn-outline-dark-fothu.disabled,
.btn-outline-dark-fothu:disabled {
	color: #0a210f;
	background-color: transparent;
}

.btn-outline-dark-fothu:not(:disabled):not(.disabled):active,
.btn-outline-dark-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark-fothu.dropdown-toggle {
	color: #fff;
	background-color: #0a210f;
	border-color: #0a210f;
}

.btn-outline-dark-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 33, 15, 0.5);
}

.list-group-item-dark-fothu {
	color: #000000;
	background-color: #34ad4f;
}

.list-group-item-dark-fothu.list-group-item-action:hover,
.list-group-item-dark-fothu.list-group-item-action:focus {
	color: #000000;
	background-color: #2e9a46;
}

.list-group-item-dark-fothu.list-group-item-action.active {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
}

.table-dark-fothu,
.table-dark-fothu > th,
.table-dark-fothu > td {
	background-color: #34ad4f;
}

.table-hover .table-dark-fothu:hover {
	background-color: #2e9a46;
}

.table-hover .table-dark-fothu:hover > td,
.table-hover .table-dark-fothu:hover > th {
	background-color: #2e9a46;
}

.text-dark-fothu {
	color: #0a210f !important;
}

a.text-dark-fothu:hover,
a.text-dark-fothu:focus {
	color: #000000 !important;
}

/*------------------------------------
- COLOR success-fothu
------------------------------------*/
.alert-success-fothu {
	color: #464d19;
	background-color: #e5ebc2;
	border-color: #dee6b3;
}

.alert-success-fothu hr {
	border-top-color: #d6dfa0;
}

.alert-success-fothu .alert-link {
	color: #23270d;
}

.badge-success-fothu {
	color: #212529;
	background-color: #99aa38;
}

.badge-success-fothu[href]:hover,
.badge-success-fothu[href]:focus {
	color: #212529;
	background-color: #76832b;
}

.bg-success-fothu {
	background-color: #99aa38 !important;
}

a.bg-success-fothu:hover,
a.bg-success-fothu:focus,
button.bg-success-fothu:hover,
button.bg-success-fothu:focus {
	background-color: #76832b !important;
}

.border-success-fothu {
	border-color: #99aa38 !important;
}

.btn-success-fothu {
	color: #212529;
	background-color: #99aa38;
	border-color: #99aa38;
}

.btn-success-fothu:hover {
	color: #212529;
	background-color: #808f2f;
	border-color: #76832b;
}

.btn-success-fothu:focus,
.btn-success-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(153, 170, 56, 0.5);
}

.btn-success-fothu.disabled,
.btn-success-fothu:disabled {
	color: #212529;
	background-color: #99aa38;
	border-color: #99aa38;
}

.btn-success-fothu:not(:disabled):not(.disabled):active,
.btn-success-fothu:not(:disabled):not(.disabled).active,
.show > .btn-success-fothu.dropdown-toggle {
	color: #212529;
	background-color: #76832b;
	border-color: #6c7827;
}

.btn-success-fothu:not(:disabled):not(.disabled):active:focus,
.btn-success-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(153, 170, 56, 0.5);
}

.btn-outline-success-fothu {
	color: #99aa38;
	background-color: transparent;
	border-color: #99aa38;
}

.btn-outline-success-fothu:hover {
	color: #212529;
	background-color: #99aa38;
	border-color: #99aa38;
}

.btn-outline-success-fothu:focus,
.btn-outline-success-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(153, 170, 56, 0.5);
}

.btn-outline-success-fothu.disabled,
.btn-outline-success-fothu:disabled {
	color: #99aa38;
	background-color: transparent;
}

.btn-outline-success-fothu:not(:disabled):not(.disabled):active,
.btn-outline-success-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-success-fothu.dropdown-toggle {
	color: #212529;
	background-color: #99aa38;
	border-color: #99aa38;
}

.btn-outline-success-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-success-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(153, 170, 56, 0.5);
}

.list-group-item-success-fothu {
	color: #464d19;
	background-color: #dee6b3;
}

.list-group-item-success-fothu.list-group-item-action:hover,
.list-group-item-success-fothu.list-group-item-action:focus {
	color: #464d19;
	background-color: #d6dfa0;
}

.list-group-item-success-fothu.list-group-item-action.active {
	color: #212529;
	background-color: #464d19;
	border-color: #464d19;
}

.table-success-fothu,
.table-success-fothu > th,
.table-success-fothu > td {
	background-color: #dee6b3;
}

.table-hover .table-success-fothu:hover {
	background-color: #d6dfa0;
}

.table-hover .table-success-fothu:hover > td,
.table-hover .table-success-fothu:hover > th {
	background-color: #d6dfa0;
}

.text-success-fothu {
	color: #99aa38 !important;
}

a.text-success-fothu:hover,
a.text-success-fothu:focus {
	color: #76832b !important;
}

/*------------------------------------
- COLOR warning-fothu
------------------------------------*/
.alert-warning-fothu {
	color: #8c5d16;
	background-color: #fcf6ed;
	border-color: #f9eddc;
}

.alert-warning-fothu hr {
	border-top-color: #f5e2c6;
}

.alert-warning-fothu .alert-link {
	color: #61400f;
}

.badge-warning-fothu {
	color: #212529;
	background-color: #e09f3e;
}

.badge-warning-fothu[href]:hover,
.badge-warning-fothu[href]:focus {
	color: #212529;
	background-color: #ca8620;
}

.bg-warning-fothu {
	background-color: #e09f3e !important;
}

a.bg-warning-fothu:hover,
a.bg-warning-fothu:focus,
button.bg-warning-fothu:hover,
button.bg-warning-fothu:focus {
	background-color: #ca8620 !important;
}

.border-warning-fothu {
	border-color: #e09f3e !important;
}

.btn-warning-fothu {
	color: #212529;
	background-color: #e09f3e;
	border-color: #e09f3e;
}

.btn-warning-fothu:hover {
	color: #212529;
	background-color: #d78f22;
	border-color: #ca8620;
}

.btn-warning-fothu:focus,
.btn-warning-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 159, 62, 0.5);
}

.btn-warning-fothu.disabled,
.btn-warning-fothu:disabled {
	color: #212529;
	background-color: #e09f3e;
	border-color: #e09f3e;
}

.btn-warning-fothu:not(:disabled):not(.disabled):active,
.btn-warning-fothu:not(:disabled):not(.disabled).active,
.show > .btn-warning-fothu.dropdown-toggle {
	color: #212529;
	background-color: #ca8620;
	border-color: #bd7d1e;
}

.btn-warning-fothu:not(:disabled):not(.disabled):active:focus,
.btn-warning-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 159, 62, 0.5);
}

.btn-outline-warning-fothu {
	color: #e09f3e;
	background-color: transparent;
	border-color: #e09f3e;
}

.btn-outline-warning-fothu:hover {
	color: #212529;
	background-color: #e09f3e;
	border-color: #e09f3e;
}

.btn-outline-warning-fothu:focus,
.btn-outline-warning-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 159, 62, 0.5);
}

.btn-outline-warning-fothu.disabled,
.btn-outline-warning-fothu:disabled {
	color: #e09f3e;
	background-color: transparent;
}

.btn-outline-warning-fothu:not(:disabled):not(.disabled):active,
.btn-outline-warning-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning-fothu.dropdown-toggle {
	color: #212529;
	background-color: #e09f3e;
	border-color: #e09f3e;
}

.btn-outline-warning-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 159, 62, 0.5);
}

.list-group-item-warning-fothu {
	color: #8c5d16;
	background-color: #f9eddc;
}

.list-group-item-warning-fothu.list-group-item-action:hover,
.list-group-item-warning-fothu.list-group-item-action:focus {
	color: #8c5d16;
	background-color: #f5e2c6;
}

.list-group-item-warning-fothu.list-group-item-action.active {
	color: #212529;
	background-color: #8c5d16;
	border-color: #8c5d16;
}

.table-warning-fothu,
.table-warning-fothu > th,
.table-warning-fothu > td {
	background-color: #f9eddc;
}

.table-hover .table-warning-fothu:hover {
	background-color: #f5e2c6;
}

.table-hover .table-warning-fothu:hover > td,
.table-hover .table-warning-fothu:hover > th {
	background-color: #f5e2c6;
}

.text-warning-fothu {
	color: #e09f3e !important;
}

a.text-warning-fothu:hover,
a.text-warning-fothu:focus {
	color: #ca8620 !important;
}

/*------------------------------------
- COLOR info-fothu
------------------------------------*/
.alert-info-fothu {
	color: #164364;
	background-color: #cce3f4;
	border-color: #bcdaf0;
}

.alert-info-fothu hr {
	border-top-color: #a7cfeb;
}

.alert-info-fothu .alert-link {
	color: #0c273a;
}

.badge-info-fothu {
	color: #fff;
	background-color: #2c87c9;
}

.badge-info-fothu[href]:hover,
.badge-info-fothu[href]:focus {
	color: #fff;
	background-color: #226a9f;
}

.bg-info-fothu {
	background-color: #2c87c9 !important;
}

a.bg-info-fothu:hover,
a.bg-info-fothu:focus,
button.bg-info-fothu:hover,
button.bg-info-fothu:focus {
	background-color: #226a9f !important;
}

.border-info-fothu {
	border-color: #2c87c9 !important;
}

.btn-info-fothu {
	color: #fff;
	background-color: #2c87c9;
	border-color: #2c87c9;
}

.btn-info-fothu:hover {
	color: #fff;
	background-color: #2573ab;
	border-color: #226a9f;
}

.btn-info-fothu:focus,
.btn-info-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(44, 135, 201, 0.5);
}

.btn-info-fothu.disabled,
.btn-info-fothu:disabled {
	color: #fff;
	background-color: #2c87c9;
	border-color: #2c87c9;
}

.btn-info-fothu:not(:disabled):not(.disabled):active,
.btn-info-fothu:not(:disabled):not(.disabled).active,
.show > .btn-info-fothu.dropdown-toggle {
	color: #fff;
	background-color: #226a9f;
	border-color: #206292;
}

.btn-info-fothu:not(:disabled):not(.disabled):active:focus,
.btn-info-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-info-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(44, 135, 201, 0.5);
}

.btn-outline-info-fothu {
	color: #2c87c9;
	background-color: transparent;
	border-color: #2c87c9;
}

.btn-outline-info-fothu:hover {
	color: #fff;
	background-color: #2c87c9;
	border-color: #2c87c9;
}

.btn-outline-info-fothu:focus,
.btn-outline-info-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(44, 135, 201, 0.5);
}

.btn-outline-info-fothu.disabled,
.btn-outline-info-fothu:disabled {
	color: #2c87c9;
	background-color: transparent;
}

.btn-outline-info-fothu:not(:disabled):not(.disabled):active,
.btn-outline-info-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-info-fothu.dropdown-toggle {
	color: #fff;
	background-color: #2c87c9;
	border-color: #2c87c9;
}

.btn-outline-info-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-info-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(44, 135, 201, 0.5);
}

.list-group-item-info-fothu {
	color: #164364;
	background-color: #bcdaf0;
}

.list-group-item-info-fothu.list-group-item-action:hover,
.list-group-item-info-fothu.list-group-item-action:focus {
	color: #164364;
	background-color: #a7cfeb;
}

.list-group-item-info-fothu.list-group-item-action.active {
	color: #fff;
	background-color: #164364;
	border-color: #164364;
}

.table-info-fothu,
.table-info-fothu > th,
.table-info-fothu > td {
	background-color: #bcdaf0;
}

.table-hover .table-info-fothu:hover {
	background-color: #a7cfeb;
}

.table-hover .table-info-fothu:hover > td,
.table-hover .table-info-fothu:hover > th {
	background-color: #a7cfeb;
}

.text-info-fothu {
	color: #2c87c9 !important;
}

a.text-info-fothu:hover,
a.text-info-fothu:focus {
	color: #226a9f !important;
}

/*------------------------------------
- COLOR danger-fothu
------------------------------------*/
.alert-danger-fothu {
	color: #5c0b08;
	background-color: #f8b6b3;
	border-color: #f6a4a1;
}

.alert-danger-fothu hr {
	border-top-color: #f48d89;
}

.alert-danger-fothu .alert-link {
	color: #2e0504;
}

.badge-danger-fothu {
	color: #fff;
	background-color: #cd1913;
}

.badge-danger-fothu[href]:hover,
.badge-danger-fothu[href]:focus {
	color: #fff;
	background-color: #9e130e;
}

.bg-danger-fothu {
	background-color: #cd1913 !important;
}

a.bg-danger-fothu:hover,
a.bg-danger-fothu:focus,
button.bg-danger-fothu:hover,
button.bg-danger-fothu:focus {
	background-color: #9e130e !important;
}

.border-danger-fothu {
	border-color: #cd1913 !important;
}

.btn-danger-fothu {
	color: #fff;
	background-color: #cd1913;
	border-color: #cd1913;
}

.btn-danger-fothu:hover {
	color: #fff;
	background-color: #ac150f;
	border-color: #9e130e;
}

.btn-danger-fothu:focus,
.btn-danger-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(205, 25, 19, 0.5);
}

.btn-danger-fothu.disabled,
.btn-danger-fothu:disabled {
	color: #fff;
	background-color: #cd1913;
	border-color: #cd1913;
}

.btn-danger-fothu:not(:disabled):not(.disabled):active,
.btn-danger-fothu:not(:disabled):not(.disabled).active,
.show > .btn-danger-fothu.dropdown-toggle {
	color: #fff;
	background-color: #9e130e;
	border-color: #90110d;
}

.btn-danger-fothu:not(:disabled):not(.disabled):active:focus,
.btn-danger-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(205, 25, 19, 0.5);
}

.btn-outline-danger-fothu {
	color: #cd1913;
	background-color: transparent;
	border-color: #cd1913;
}

.btn-outline-danger-fothu:hover {
	color: #fff;
	background-color: #cd1913;
	border-color: #cd1913;
}

.btn-outline-danger-fothu:focus,
.btn-outline-danger-fothu.focus {
	box-shadow: 0 0 0 0.2rem rgba(205, 25, 19, 0.5);
}

.btn-outline-danger-fothu.disabled,
.btn-outline-danger-fothu:disabled {
	color: #cd1913;
	background-color: transparent;
}

.btn-outline-danger-fothu:not(:disabled):not(.disabled):active,
.btn-outline-danger-fothu:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger-fothu.dropdown-toggle {
	color: #fff;
	background-color: #cd1913;
	border-color: #cd1913;
}

.btn-outline-danger-fothu:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger-fothu:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger-fothu.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(205, 25, 19, 0.5);
}

.list-group-item-danger-fothu {
	color: #5c0b08;
	background-color: #f6a4a1;
}

.list-group-item-danger-fothu.list-group-item-action:hover,
.list-group-item-danger-fothu.list-group-item-action:focus {
	color: #5c0b08;
	background-color: #f48d89;
}

.list-group-item-danger-fothu.list-group-item-action.active {
	color: #fff;
	background-color: #5c0b08;
	border-color: #5c0b08;
}

.table-danger-fothu,
.table-danger-fothu > th,
.table-danger-fothu > td {
	background-color: #f6a4a1;
}

.table-hover .table-danger-fothu:hover {
	background-color: #f48d89;
}

.table-hover .table-danger-fothu:hover > td,
.table-hover .table-danger-fothu:hover > th {
	background-color: #f48d89;
}

.text-danger-fothu {
	color: #cd1913 !important;
}

a.text-danger-fothu:hover,
a.text-danger-fothu:focus {
	color: #9e130e !important;
}
