<ng-template #battleModal>
	<div class="container-fluid position-absolute bg-light-fothu">
		<div class="row">
			<div class="col-12">
				<br />
				<br />
				<br />
				<div class="container-fluid">
					<div class="row">
						<div
							[ngClass]="{ 'col-12 col-md-4 battle-pets bg-dark-fothu rounded': true, 'order-last': this.userService.currentUser.id == this.battleService.currentBattle.defendingUser.id }"
							[ngStyle]="{
								'box-shadow':
									(this.battleService.currentBattle.attackingUser.id == this.battleService.currentBattle.nextTurnUser.id && !this.battleService.currentBattle.battleFinished) || (this.battleService.currentBattle.winningUser.id == this.battleService.currentBattle.attackingUser.id && this.battleService.currentBattle.battleFinished)
										? '0px 0px 70px ' + this.battleService.currentBattle.attackingUser.favoriteColor
										: ''
							}"
						>
							<div *ngIf="this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.attackingBattlePets) || this.getBattlePetsArraySize(this.battleService.currentBattle.attackingBattlePets) != this.battleService.currentBattle.maxNumberOfAttackingPets">
								<div class="petcenter" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'hidden' : 'visible' }">
									<br />
									<br />
									<br />
									<h4 [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'hidden' : 'visible' }" class="text-white">{{ this.battleService.currentBattle.attackingUser.username }} is still selecting {{ this.battleService.currentBattle.maxNumberOfAttackingPets > 1 ? "their pets" : "a pet" }}</h4>
								</div>
								<div class="petcenter" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id != this.userService.currentUser.id ? 'hidden' : 'visible' }">
									<br />
									<div class="row">
										<div class="col-12">
											<h4 class="text-white">{{ this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.attackingBattlePets) && this.battleService.currentBattle.maxNumberOfAttackingPets > 1 ? "Select your first fighter:" : this.battleService.currentBattle.maxNumberOfAttackingPets > 1 ? "Select your remaining fighters:" : "Select your fighter:" }}</h4>
											<br />
											<br />
											<br />
										</div>
										<div class="col-4" *ngFor="let pet of userService.currentUser.pets">
											<button
												*ngIf="pet.id != this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet"
												[ngClass]="{ 'btn text-white mx-1': true, ' btn-success-fothu bg-success-fothu': (this.battleService.currentBattle.battleType == 'pvp' || pet.currentHealth) > 0, 'btn-light-fothu bg-light-fothu disabled': this.battleService.currentBattle.battleType == 'pve' && pet.currentHealth == 0 }"
												(click)="this.battleService.setAttackingPVPPet(this.battleService.currentBattle.id, pet.id)"
											>
												{{ pet.name }}
											</button>
										</div>
										<br />
										<br />
										<br />
									</div>
								</div>
							</div>
							<div *ngIf="!this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.attackingBattlePets) && this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.id && this.battleService.currentBattle.maxNumberOfAttackingPets == this.getBattlePetsArraySize(this.battleService.currentBattle.attackingBattlePets)">
								<br />
								<h4 class="text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.name }}</h4>
								<br />
								<div class="d-none d-xl-block">
									<div [ngClass]="['big-pet-background img-responsive center-block mx-auto petcenter', this.battleService.currentBattle.attackingUser.favoriteColor]">
										<img class="big-pet-image" [src]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.image.imageURL" [alt]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.name" />
									</div>
								</div>
								<div class="d-block d-xl-none">
									<div [ngClass]="['medium-pet-background img-responsive center-block mx-auto petcenter', this.battleService.currentBattle.attackingUser.favoriteColor]">
										<img class="medium-pet-image" [src]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.image.imageURL" [alt]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.name" />
									</div>
								</div>
								<div class="d-none d-xl-block">
									<div class="progress border border-dark wrapper big-pet-battle-health-bar mx-auto">
										<div
											[class]="userService.getHealthBarColor(((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth) * 100).toFixed(0))"
											[ngStyle]="{ width: ((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'small', color: 'black', height: '50px' }"
										></div>
										<h4 class="big-data" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
											{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth }}/{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth }} HP
										</h4>
									</div>
								</div>
								<div class="d-block d-xl-none">
									<div class="progress border border-dark wrapper medium-pet-battle-health-bar mx-auto">
										<div
											[class]="userService.getHealthBarColor(((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth) * 100).toFixed(0))"
											[ngStyle]="{ width: ((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'small', color: 'black', height: '50px' }"
										></div>
										<h4 class="big-data" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
											{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth }}/{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth }} HP
										</h4>
									</div>
								</div>
								<br />
								<div class="action-buttons row justify-content-md-center" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id && this.battleService.currentBattle.nextTurnUser.id == this.battleService.currentBattle.attackingUser.id && !this.battleService.currentBattle.battleFinished ? 'visible' : 'hidden' }">
									<div class="btn-group-vertical btn-group-lg m-1 col-5">
										<button class="btn btn-danger battle-button text-white m-1" (click)="this.battleService.defend(this.battleService.currentBattle.id)">Defend</button>
										<button class="btn btn-success battle-button text-white m-1" (click)="this.battleService.evade(this.battleService.currentBattle.id)">Evade</button>
									</div>
									<div class="btn-group-vertical btn-group-lg m-1 col-5">
										<button class="btn btn-primary battle-button m-1" (click)="this.battleService.aim(this.battleService.currentBattle.id)">Aim</button>
										<button class="btn btn-light battle-button m-1" (click)="this.battleService.sharpen(this.battleService.currentBattle.id)">Sharpen</button>
									</div>
									<div class="btn-group-vertical btn-group-lg m-1 col-11">
										<button class="btn btn-success-fothu bg-success-fothu battle-button text-white m-1" (click)="this.battleService.attack(this.battleService.currentBattle.id)">Attack</button>
									</div>
								</div>
								<br />
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
									<div class="col-3 text-white">Armor</div>
									<div class="col-3 text-white">Accuracy</div>
									<div class="col-3 text-white">Evasion</div>
									<div class="col-3 text-white">Attack</div>
								</div>
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetArmorModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetAccuracyModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetEvasionModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetAttackModifier }}x</div>
								</div>
								<br />
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.attackingUser.id == this.userService.currentUser.id && this.battleService.currentBattle.maxNumberOfAttackingPets > 1 ? 'visible' : 'hidden' }" *ngFor="let battlePet of this.battleService.currentBattle.attackingBattlePets">
									<button
										*ngIf="this.battlePet.pet.id != this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.id"
										[ngClass]="{ 'btn text-white mx-1': true, ' btn-success-fothu bg-success-fothu': battlePet.pet.currentHealth > 0, 'btn-light-fothu bg-light-fothu disabled': battlePet.pet.currentHealth == 0 }"
										(click)="this.battleService.setAttackingPVPPet(this.battleService.currentBattle.id, battlePet.pet.id)"
									>
										{{ battlePet.pet.name }}
									</button>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 battle-pets">
							<img class="battle-loading" [ngStyle]="{ visibility: this.battleService.sendingRequest ? 'visible' : 'hidden' }" src="../../../assets/battle spinning loading image.gif" alt="loading" />
							<h4>&nbsp;</h4>
							<div
								*ngIf="
									(this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.attackingBattlePets) && this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.defendingBattlePets)) ||
									this.battleService.currentBattle.maxNumberOfAttackingPets > this.getBattlePetsArraySize(this.battleService.currentBattle.attackingBattlePets) ||
									this.battleService.currentBattle.maxNumberOfDefendingPets > this.getBattlePetsArraySize(this.battleService.currentBattle.defendingBattlePets)
								"
							>
								<hr />
								<br />
								<h4>Waiting for 1 or more user to finish selecting pets for battle.</h4>
								<br />
								<hr />
							</div>
							<div
								*ngIf="
									!this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.attackingBattlePets) &&
									this.battleService.currentBattle.maxNumberOfAttackingPets == this.getBattlePetsArraySize(this.battleService.currentBattle.attackingBattlePets) &&
									!this.battleService.currentBattle.battleFinished &&
									!this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.defendingBattlePets) && this.battleService.currentBattle.maxNumberOfDefendingPets == this.getBattlePetsArraySize(this.battleService.currentBattle.defendingBattlePets) && !this.battleService.currentBattle.battleFinished
								"
							>
								<hr />
								<br *ngIf="!this.battleService.currentBattle.turns[0].turnFlavorText" />
								<h4 *ngIf="!this.battleService.currentBattle.turns[0].turnFlavorText">Waiting for {{ this.battleService.currentBattle.nextTurnUser.username }} to make the first move!</h4>
								<br *ngIf="!this.battleService.currentBattle.turns[0].turnFlavorText" />
								<div *ngFor="let battleLog of this.battleService.currentBattle.turns; let i = index">
									<br *ngIf="this.battleService.currentBattle.turns[i].turnFlavorText && i > this.battleService.currentBattle.turns.length - 2" />
									<h4 *ngIf="this.battleService.currentBattle.turns[i].turnFlavorText && i > this.battleService.currentBattle.turns.length - 2">{{ battleLog.turnFlavorText }}</h4>
									<br *ngIf="this.battleService.currentBattle.turns[i].turnFlavorText && i > this.battleService.currentBattle.turns.length - 2" />
									<hr *ngIf="i > this.battleService.currentBattle.turns.length - 2" />
								</div>
							</div>
							<div *ngIf="this.battleService.currentBattle.battleFinished">
								<hr />
								<br />
								<h4 *ngIf="this.battleService.currentBattle.attackingUser.id == 2 || this.battleService.currentBattle.defendingUser.id == 2">Chumbo Always Wins</h4>
								<h4 *ngIf="this.battleService.currentBattle.attackingUser.id != 2 || this.battleService.currentBattle.defendingUser.id != 2">{{ this.battleService.currentBattle.winningUser.username }} Wins!</h4>
								<br />
								<hr />
							</div>
							<h4>&nbsp;</h4>
						</div>
						<div
							[ngClass]="{ 'col-12 col-md-4 battle-pets bg-dark-fothu rounded': true, 'order-first': this.userService.currentUser.id == this.battleService.currentBattle.defendingUser.id }"
							[ngStyle]="{
								'box-shadow':
									(this.battleService.currentBattle.defendingUser.id == this.battleService.currentBattle.nextTurnUser.id && !this.battleService.currentBattle.battleFinished) || (this.battleService.currentBattle.winningUser.id == this.battleService.currentBattle.defendingUser.id && this.battleService.currentBattle.battleFinished)
										? '0px 0px 70px ' + this.battleService.currentBattle.defendingUser.favoriteColor
										: ''
							}"
						>
							<div *ngIf="this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.defendingBattlePets) || this.getBattlePetsArraySize(this.battleService.currentBattle.defendingBattlePets) != this.battleService.currentBattle.maxNumberOfDefendingPets">
								<div class="petcenter" *ngIf="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.id">
									<br />
									<br />
									<br />
									<h4 [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id ? 'hidden' : 'visible' }" class="text-white">{{ this.battleService.currentBattle.defendingUser.username }} is still selecting {{ this.battleService.currentBattle.maxNumberOfDefendingPets > 1 ? "their pets" : "a pet" }}</h4>
								</div>
								<div class="petcenter" *ngIf="!this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.id">
									<br />
									<br />
									<br />
									<h4 class="text-white">Waiting for {{ this.battleService.currentBattle.attackingUser.username }} to select their first pet.</h4>
								</div>
								<div class="petcenter" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id && this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.id ? 'visible' : 'hidden' }">
									<br />
									<div class="row">
										<div class="col-12">
											<h4 class="text-white">
												{{ this.getBattlePetsArraySize(this.battleService.currentBattle.defendingBattlePets) < 1 && this.battleService.currentBattle.maxNumberOfDefendingPets > 1 ? "Select your first fighter:" : this.battleService.currentBattle.maxNumberOfDefendingPets > 1 ? "Select your remaining fighters:" : "Select your fighter:" }}
											</h4>
											<br />
											<br />
											<br />
										</div>
										<div class="col-4" *ngFor="let pet of userService.currentUser.pets">
											<button
												[ngClass]="{ 'btn text-white mx-1': true, ' btn-success-fothu bg-success-fothu': (this.battleService.currentBattle.battleType == 'pvp' || pet.currentHealth) > 0, 'btn-light-fothu bg-light-fothu disabled': this.battleService.currentBattle.battleType == 'pve' && pet.currentHealth == 0 }"
												(click)="this.battleService.setDefendingPVPPet(this.battleService.currentBattle.id, pet.id)"
											>
												{{ pet.name }}
											</button>
										</div>
										<br />
										<br />
										<br />
									</div>
								</div>
							</div>
							<div *ngIf="!this.battleService.isBattlePetsArrayEmpty(this.battleService.currentBattle.defendingBattlePets) && this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.id && this.battleService.currentBattle.maxNumberOfDefendingPets == this.getBattlePetsArraySize(this.battleService.currentBattle.defendingBattlePets)">
								<br />
								<h4 class="text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.name }}</h4>
								<br />
								<div class="d-none d-xl-block">
									<div [ngClass]="['big-pet-background img-responsive center-block mx-auto petcenter', this.battleService.currentBattle.defendingUser.favoriteColor]">
										<img class="big-pet-image" [src]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.image.imageURL" [alt]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.name" />
									</div>
								</div>
								<div class="d-block d-xl-none">
									<div [ngClass]="['medium-pet-background img-responsive center-block mx-auto petcenter', this.battleService.currentBattle.defendingUser.favoriteColor]">
										<img class="medium-pet-image" [src]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.image.imageURL" [alt]="this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.name" />
									</div>
								</div>
								<div class="d-none d-xl-block">
									<div class="progress border border-dark wrapper big-pet-battle-health-bar mx-auto">
										<div
											[class]="userService.getHealthBarColor(((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.maxHealth) * 100).toFixed(0))"
											[ngStyle]="{ width: ((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'small', color: 'black', height: '50px' }"
										></div>
										<h4 class="big-data" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
											{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetCurrentHealth }}/{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.maxHealth }} HP
										</h4>
									</div>
								</div>
								<div class="d-block d-xl-none">
									<div class="progress border border-dark wrapper medium-pet-battle-health-bar mx-auto">
										<div
											[class]="userService.getHealthBarColor(((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.maxHealth) * 100).toFixed(0))"
											[ngStyle]="{ width: ((this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetCurrentHealth / this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.maxHealth) * 100).toFixed(0) + '%', 'font-size': 'small', color: 'black', height: '50px' }"
										></div>
										<h4 class="big-data" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
											{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPetCurrentHealth }}/{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].attackingPet.maxHealth }} HP
										</h4>
									</div>
								</div>
								<br />
								<div class="action-buttons row justify-content-md-center" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id && this.battleService.currentBattle.nextTurnUser.id == this.battleService.currentBattle.defendingUser.id && !this.battleService.currentBattle.battleFinished ? 'visible' : 'hidden' }">
									<div class="btn-group-vertical btn-group-lg m-1 col-5">
										<button class="btn btn-danger battle-button text-white m-1" (click)="this.battleService.defend(this.battleService.currentBattle.id)">Defend</button>
										<button class="btn btn-success battle-button text-white m-1" (click)="this.battleService.evade(this.battleService.currentBattle.id)">Evade</button>
									</div>
									<div class="btn-group-vertical btn-group-lg m-1 col-5">
										<button class="btn btn-primary battle-button m-1" (click)="this.battleService.aim(this.battleService.currentBattle.id)">Aim</button>
										<button class="btn btn-white bg-white battle-button m-1" (click)="this.battleService.sharpen(this.battleService.currentBattle.id)">Sharpen</button>
									</div>
									<div class="btn-group-vertical btn-group-lg m-1 col-11">
										<button class="btn btn-success-fothu bg-success-fothu battle-button text-white m-1" (click)="this.battleService.attack(this.battleService.currentBattle.id)">Attack</button>
									</div>
								</div>
								<br />
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
									<div class="col-3 text-white">Armor</div>
									<div class="col-3 text-white">Accuracy</div>
									<div class="col-3 text-white">Evasion</div>
									<div class="col-3 text-white">Attack</div>
								</div>
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id ? 'visible' : 'hidden' }">
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetArmorModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetAccuracyModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetEvasionModifier }}x</div>
									<div class="col-3 text-white">{{ this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPetAttackModifier }}x</div>
								</div>
								<br />
								<div class="row" [ngStyle]="{ visibility: this.battleService.currentBattle.defendingUser.id == this.userService.currentUser.id && this.battleService.currentBattle.maxNumberOfDefendingPets > 1 ? 'visible' : 'hidden' }" *ngFor="let battlePet of this.battleService.currentBattle.defendingBattlePets">
									<button
										*ngIf="this.battlePet.pet.id != this.battleService.currentBattle.turns[this.battleService.currentBattle.turns.length - 1].defendingPet.id"
										[ngClass]="{ 'btn text-white mx-1': true, ' btn-success-fothu bg-success-fothu': battlePet.pet.currentHealth > 0, 'btn-light-fothu bg-light-fothu disabled': battlePet.pet.currentHealth == 0 }"
										(click)="this.battleService.setAttackingPVPPet(this.battleService.currentBattle.id, battlePet.pet.id)"
									>
										{{ battlePet.pet.name }}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 petcenter">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<button *ngIf="this.battleService.currentBattle.battleType.toLowerCase() == 'pvp'" class="btn btn-success-fothu bg-success-fothu text-white" (click)="this.closeBattle()">Close Battle</button>
				<button *ngIf="this.battleService.currentBattle.battleType.toLowerCase() == 'pve' && this.battleService.currentBattle.battleFinished && this.battleService.currentBattle.winningUser.id == this.battleService.currentBattle.attackingUser.id">Victory!</button>
				<button *ngIf="this.battleService.currentBattle.battleType.toLowerCase() == 'pve' && this.battleService.currentBattle.battleFinished && this.battleService.currentBattle.winningUser.id == this.battleService.currentBattle.defendingUser.id">No More Pets. Run!</button>
			</div>
		</div>
	</div>
</ng-template>
