<div *ngIf="!this.imageSelected">
	<br />
	<h2 class="text-center">Please Select A New Pet</h2>
	<br />
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div *ngFor="let newPetImage of this.availableNewPets" class="col-lg-3 col-md-4 col-sm-6 col-12 py-1 petcenter">
				<div class="black petcenter big-pet-background">
					<a class="big-pet-image" href="javascript:void(0)" (click)="this.selectPetImage(newPetImage.id, newPetImage.imageURL)">
						<img class="big-pet-image" [src]="newPetImage.imageURL" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<br />
	<button type="button" class="btn btn-dark btn-lg btn-block" (click)="this.getPetImages()">Refresh Pet List</button>
	<br />
	<br />
</div>
<div *ngIf="this.imageSelected">
	<br />
	<br />
	<h3 class="text-center">Tell us about your new pet!</h3>
	<br />
	<div class="container-fluid">
		<div class="row d-flex justify-content-center">
			<div *ngIf="this.currentNewPet.imageId">
				<div [ngClass]="{ black: !this.currentNewPet.type, 'red red-glow': this.currentNewPet.type == 'strength', 'green green-glow': this.currentNewPet.type == 'agility', 'blue blue-glow': this.currentNewPet.type == 'intelligence', 'petcenter big-pet-background': true }">
					<img class="big-pet-image" [src]="this.newPetImage" />
				</div>
			</div>
		</div>
		<br />
		<div class="row d-flex justify-content-center">
			<div class="col-6">
				<form class="">
					<div class="form-group">
						<h3 class="text-center">{{ !this.currentNewPet.name ? "Pet Name" : this.currentNewPet.name }}</h3>
						<br />
						<input [(ngModel)]="this.currentNewPet.name" name="petName" type="text" class="form-control" id="petNameInput" required />
					</div>
					<br />
					<div class="form-group justify-content-center text-center">
						<h3 [ngClass]="{ 'text-center': true, 'text-danger': this.currentNewPet.type == 'strength', 'text-success': this.currentNewPet.type == 'agility', 'text-primary': this.currentNewPet.type == 'intelligence' }">
							{{ this.currentNewPet.type == "strength" ? "Strength" : this.currentNewPet.type == "agility" ? "Agility" : this.currentNewPet.type == "intelligence" ? "Intelligence" : "Pet Type" }}
						</h3>
						<br />
						<!-- THIS IS PROBABLY NOT GREAT FIX IT -->
						<div class="btn-group btn-group-justified" role="group" required>
							<a [ngClass]="{ 'btn btn-danger text-white': true, 'red-glow': this.currentNewPet.type == 'strength' }" (click)="this.currentNewPet.type = 'strength'" role="button">Strength</a>
							<a [ngClass]="{ 'btn btn-success text-white': true, 'green-glow': this.currentNewPet.type == 'agility' }" (click)="this.currentNewPet.type = 'agility'" role="button">Agility</a>
							<a [ngClass]="{ 'btn btn-primary text-white': true, 'blue-glow': this.currentNewPet.type == 'intelligence' }" (click)="this.currentNewPet.type = 'intelligence'" role="button">Intelligence</a>
						</div>
						<br />
						<div>
							<h5 *ngIf="this.currentNewPet.type == ''" class="text-white text-center">:</h5>
							<h5 *ngIf="this.currentNewPet.type == 'strength'" class="text-danger text-center">For pets that choose bulk above all else</h5>
							<h5 *ngIf="this.currentNewPet.type == 'agility'" class="text-success text-center">For pets that need to act quickly</h5>
							<h5 *ngIf="this.currentNewPet.type == 'intelligence'" class="text-primary text-center">For pets that seek the best strategy</h5>
						</div>
						<br />
						<a [ngClass]="{ 'form-group btn btn-dark-fothu bg-dark-fothu text-white': true, disabled: !this.checkIfFormCompleted(), 'black-glow': this.checkIfFormCompleted() }">Create New Pet!</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div *ngIf="this.unableToCreatePet" class="text-danger">Unable to submit pet. Please try again!</div>
</div>
