<br />
<a class="btn btn-primary" routerLink="/FothuPets">go to home</a>
<h2 *ngIf="this.petImageSelected == false">Please Select A New Pet</h2>
<div *ngIf="this.petImageSelected == false && this.unableToSelectImage == true" class="text-danger">Unable to submit pet. Please try again!</div>
<div *ngIf="this.petImageSelected == false" class="container-fluid">
	<div class="row">
		<div *ngFor="let newPet of this.availableNewPets; let numberOfindex = index" class="col-lg-3 col-md-4 col-sm-6 col-12 p-2">
			<div class="black petcenter big-pet-border">
				<a class="big-pet-image" href="javascript:void(0)" (click)="this.createNewPetImage(newPet.imageURL)">
					<img class="big-pet-image" [src]="newPet.imageURL" [alt]="newPet.description" />
				</a>
			</div>
			<div>Id: {{ newPet.id }}</div>
		</div>
	</div>
</div>
<br />
<button type="button" class="btn btn-dark btn-lg btn-block" (click)="this.getPets()">Refresh Pet List</button>
<br />
<br />
