.title {
    text-align: center;
}

.author {
    text-align: center;
}

.pageNumber {
    text-align: left;
    margin-left: 30pt;
}

.loading {
    left: 50%;
    position: absolute;
    height: 5%;
}